apiVersion: mpas.ocm.software/v1alpha1
kind: ProductDeployment
metadata:
  creationTimestamp: null
  name: podinfo
  namespace: mpas-podinfo-application
spec:
  component:
    name: ocm.software/mpas/podinfo
    registry:
      url: ghcr.io/souleb
    version: v1.0.3
  pipelines:
  - configuration:
      rules:
        name: config
        version: 1.0.0
    localization:
      name: config
      version: 1.0.0
    name: podinfo
    resource:
      name: manifests
      version: 1.0.0
    targetRole:
      selector:
        matchLabels:
          target.mpas.ocm.software/ingress-enabled: "true"
      type: kubernetes
  serviceAccountName: mpas-podinfo-application
status: {}
